In [8]:
import pandas as pd
import numpy as np
import csv
import time
from selenium import webdriver
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
import re
from unidecode import unidecode

In [28]:
URL = "https://simple.wikipedia.org/wiki/List_of_U.S._states"

# Create a webdriver object and set the timeout
path = "chromedriver.exe"
driver = webdriver.Chrome(path)
driver.implicitly_wait(10)

# Load the page
driver.get(URL)

# Wait for the table to be loaded
wait = WebDriverWait(driver, 10)
table = wait.until(EC.presence_of_element_located((By.CSS_SELECTOR, ".wikitable")))

# Find the rows of the table
rows = table.find_elements(By.XPATH, "./tbody/tr")

# Create an empty list to store the data
data = []

# Iterate over the rows
num=1
for row in rows:
    # Find the cells in the row
    cells = row.find_elements(By.XPATH, ".//td")
    
    if len(cells) > 0:
        # Get the text for each cell
        state_name = driver.find_element(by=By.XPATH,value=f'//*[@id="mw-content-text"]/div[1]/table/tbody/tr[{num}]/th').text
        num+=1
        state_abbr = cells[0].text
        state_capital = cells[1].text
        if len(cells)>11:
            largest_city = cells[2].text
            established = cells[3].text
            population=cells[4].text
            total_area=cells[6].text
            land_area=cells[8].text
            water_area=cells[10].text
            num_of_reps=cells[11].text
        else:
            largest_city = cells[1].text
            established = cells[2].text
            population=cells[3].text
            total_area=cells[5].text
            land_area=cells[7].text
            water_area=cells[9].text
            num_of_reps=cells[10].text
        
        

        # Append the data to the list
        data.append([state_name, state_abbr, state_capital, largest_city,established,population,total_area,land_area,water_area,num_of_reps])

# Create the dataframe from the list of lists
df = pd.DataFrame(data, columns=['State Name', 'State Abbreviation', 'State Capital', 'Largest City by population','Established','Population','Total area','Land area','Water area',"Number of Reps"])

# Close the webdriver
driver.quit()

C:\Users\Korean Player\AppData\Local\Temp\ipykernel_13324\4109529354.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

In [29]:
df.head(5)

,State Name,State Abbreviation,State Capital,Largest City by population,Established,Population,Total area,Land area,Water area,Number of Reps
0,Alabama,AL,Montgomery,Huntsville,"Dec 14, 1819","5,024,279","135,767","131,171","4,597",7
1,Alaska,AK,Juneau,Anchorage,"Jan 3, 1959","733,391","1,723,337","1,477,953","245,384",1
2,Arizona,AZ,Phoenix,Phoenix,"Feb 14, 1912","7,151,502","295,234","294,207","1,026",9
3,Arkansas,AR,Little Rock,Little Rock,"Jun 15, 1836","3,011,524","137,732","134,771","2,961",4
4,California,CA,Sacramento,Los Angeles,"Sep 9, 1850","39,538,223","423,967","403,466","20,501",52

In [30]:
print

TypeError: reduction operation 'argmin' not allowed for this dtype

C:\Users\Korean Player\AppData\Local\Temp\ipykernel_13324\1939769367.py:5: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome(path)

12
12
11
11
12
11
12
12
12
11
11
11
12
11
11
12
12
12
12
12
11
12
12
11
12
12
12
12
12
12
12
12
12
12
11
11
12
12
11
12
12
11
12
11
12
12
12
11
12
11

AL
Montgomery
Huntsville
Dec 14, 1819
5,024,279
52,420
135,767
50,645
131,171
1,775
4,597
7

'AL'